:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none !important;
}
p {
  font-size: 15px;
}
ul {
  list-style: none;
  padding-left: 0 !important;
}
.header_top .header_logo {
  width: 200px;
}
.authentication_switch .header_logo {
  width: 240px;
}
.authentication_switch .header_logo img {
  width: 100%;
}
.authentication_switch .auth_header_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.header_warpper .header_top {
  background-color: #131921;
  padding: 20px 0;
}
.header_top .header_logo img {
  width: 100%;
}
body input.form-control:focus {
  box-shadow: none;
  border-color: transparent;
  border-radius: 10px;
}
.search-blog input.form-control {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border-color: #f3971b !important;
  height: 55px;
  border-radius: 10px;
  padding-right: 80px;
}
.header_top .search-blog {
  max-width: 655px;
  min-width: 655px;
  position: relative;
}
.header_top .header_right_section {
  display: flex;
  align-items: center;
  gap: 18px;
}
.header_top .header_right_section .language_icon {
  cursor: pointer;
}
.header_top .header_right_section .change_language {
  position: relative;
  padding: 10px 0;
}
.header_top .header_right_section .languages {
  position: absolute;
  z-index: 99;
  background-color: #fff;
  top: 43px;
  left: -10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
}
.header_top .header_right_section .change_language:hover .languages {
  display: block;
}
.header_top .header_right_section .languages .lang p {
  margin: 0;
  font-size: 14px;
  line-height: normal;
}
.header_top .header_right_section .languages .lang {
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: 0.5s;
}
.header_top .header_right_section .languages .lang:hover {
  background-color: #cee7e9;
}
.header_top .header_right_section .languages .lang .icon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.search-blog .search_blog_btn {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  border: 0;
  width: 58px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f3971b;
}
.contact_section a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 9px;
}
.header_top .header_top_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation_items nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.navigation_items nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
.header_warpper .header_bottom {
  background-color: #232f3e;
  height: 55px;
}
.slider_bg_image {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.category_product_listing .category_product_listing_inner {
  position: relative;
}
.latest_product_listing .latest_products_inner .col-lg-3 {
  margin-bottom: 30px;
}
.category_product_listing .product_detail {
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}
.category_product_listing .product_detail .caregory_name {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #666666f2;
  border-top-left-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  user-select: none;
}
.category_product_listing .category_listing_loader {
  display: flex;
  justify-content: space-between;
}
.product_detail_main {
  margin-right: 10px;
  margin-left: 10px;
}
.category_product_listing {
  margin-top: 70px;
}
.latest_product_grid .product_image img {
  width: 100%;
  height: 100%;
}
.latest_product_grid .product_image {
  height: 170px;
}
.latest_products_inner .latest_product_grid {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 100%;
  cursor: pointer;
}
.latest_product_grid .product-content .sponsored_type {
  height: 21px;
  margin-bottom: 10px;
}
.latest_product_grid .product-content .sponsored {
  margin: 0;
  font-size: 11px;
  color: #f3971b;
  margin-bottom: 10px;
  width: fit-content;
  line-height: normal;
  border: 1px solid #f3971b;
  padding: 3px 12px;
  border-radius: 5px;
  user-select: none;
}
.star-ratings .star-container svg {
  width: 20px !important;
  height: 20px !important;
}
.star-ratings .star-container {
  padding-right: 0px !important;
}
.latest_products_inner a {
  text-decoration: none;
}
.middle_content {
  padding-bottom: 100px;
}
.latest_product_grid .product-content .product-title {
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  color: #333;
  margin-bottom: 25px;
  font-weight: 600;
}
.latest_product_grid .product-content .product-description {
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: pre-wrap;
  color: #333;
  min-height: 90px;
}
.latest_products_inner .row .col-md-3 {
  margin-bottom: 30px;
}
.latest_product_grid .star-ratings {
  margin-top: 5px;
}
.latest_product_grid .product-content .product-price {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0;
  color: #333;
}
.latest_product_grid .product-content .product_price_main {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}
.latest_product_grid .product-content .product_price_main del {
  color: #898585;
}
.latest_product_grid .product-content {
  margin-top: 15px;
}

.category_product_listing h1 {
  margin-bottom: 20px;
  font-size: 28px !important;
  line-height: 36px !important;
  margin-left: 10px;
  text-transform: uppercase;
}
.latest_product_listing {
  margin-top: 70px;
}
.latest_product_listing h1 {
  margin-bottom: 20px;
  font-size: 28px !important;
  line-height: 36px !important;
  margin-left: 10px;
  text-transform: uppercase;
}
.single_product_detail_wrapper {
  margin-top: 40px;
}
.single_product_detail_content h1 {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 400;
  border-bottom: 1px solid #bbbfbf;
  padding-bottom: 10px;
}
.single_product_detail_content .product_features .table-responsive {
  width: 60%;
}
.single_product_detail_content .product_features {
  margin-top: 20px;
  border-bottom: 1px solid #bbbfbf;
  padding-bottom: 20px;
}
.single_product_detail_content .product_about_items .about_items_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.single_product_detail_content .product_about_items {
  margin-top: 20px;
}
.single_product_detail_content .product_about_items ul li {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
}
.single_product_detail_content .product_about_items ul {
  list-style: circle;
}
.single_product_detail_content .product_about_items ul li:last-child {
  margin: 0;
}
.product_purchase_info_content .product-price {
  font-size: 28px;
  color: #0f1111;
  margin: 0;
  line-height: normal;
}
.single_product_detail_wrapper .product_purchase_info {
  border: 1px solid #bbbfbf;
  border-radius: 10px;
  padding: 12px;
}
.product_purchase_info_content .product_tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 15px;
  border-top: 1px solid #bbbfbf;
  padding-top: 15px;
  border-bottom: 1px solid #bbbfbf;
  padding-bottom: 15px;
}
.product_purchase_info_content .product_tags .tag {
  margin: 0;
  font-size: 11px;
  line-height: normal;
  background-color: #f3971b;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}
.product_purchase_info_content .product_tags_description {
  padding-top: 15px;
}
.product_purchase_info_content .product_tags_description p {
  font-size: 13px;
  margin-bottom: 0;
}
.product_purchase_info_content .product_purchase_link {
  margin-top: 15px;
  user-select: none;
}
.product_purchase_info_content .product_purchase_link input {
  width: 100%;
  border: 0;
  font-size: 13px;
  background-color: #d7e3e7;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 6px;
  border-radius: 5px;
}
.product_purchase_info_content .product_purchase_link input:focus-visible,
.product_purchase_info_content
  .product_purchase_link
  .copy_link_product:focus-visible {
  outline: 0;
}
.product_purchase_info_content .product_purchase_link .copy_link_product {
  border: 0;
  width: 100%;
  font-size: 13px;
  padding: 6px 0;
  border-radius: 50px;
  background-color: #f3971b;
  color: #fff;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  transition: 0.5s;
}
.product_purchase_info_content .product_purchase_link .copy_link_product:hover {
  filter: brightness(1.2);
}
.magnifire_gallery_wrapper .thumbnail img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
.magnifire_gallery_wrapper .thumbnail {
  width: fit-content;
  border: 1px solid #222;
  padding: 3px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.magnifire_gallery_wrapper .thumbnail.selected {
  border-color: #f3971b;
}
.magnifire_gallery_wrapper .gallery_thubmnanails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: auto;
  max-height: 440px;
  overflow: auto;
  scrollbar-width: none;
}
.magnifire_gallery_wrapper .gallery_thubmnanails::-webkit-scrollbar {
  width: 0;
  display: none;
}
.single_product_detail_wrapper .magnifire_gallery_wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.single_product_detail_wrapper .magnifire_gallery_wrapper .magnifire_image {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.magnifier {
  width: 620px;
  background-repeat: no-repeat;
  position: absolute;
  height: 440px;
  left: 425px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.single_product_detail_wrapper .magnifire_gallery_wrapper .magnifire_image img {
  width: 100%;
  object-fit: contain;
  cursor: zoom-in;
  padding: 5px;
}
.cms_panle_auth_wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: #f3971b;
  font-size: 32px;
}
.input-form-group .input-form-control:focus-visible {
  outline: 0;
}
.input-form-group .input-form-control:focus {
  border: 1px solid #000;
}
.input-form-group .input-form-control {
  height: 50px;
  border: 1px solid #000;
  padding-right: 40px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
}
.input-form-group {
  margin-bottom: 30px;
}
.input-form-group .input-form-group-inner {
  position: relative;
}
.input-form-group .input-form-group-inner .input_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.custom_buttom {
  width: 100%;
}
.custom_buttom .custom_button_inner {
  width: 100%;
  border: 0;
  font-size: 15px;
  border-radius: 50px;
  background-color: #f3971b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

/* embla hero slider */
.embla_hero_slider.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  position: relative;
}
.embla_hero_slider .embla__viewport {
  overflow: hidden;
}
.embla_hero_slider .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla_hero_slider .embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla_hero_slider .embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}
.embla_hero_slider .embla__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.embla_hero_slider .embla__button {
  box-shadow: none;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  width: 45px;
  height: 45px;
  background-color: #f3971b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.embla_hero_slider .embla__button:disabled {
  color: var(--detail-high-contrast);
}

/* embla category listing slider */
.category_product_listing_inner.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 25%;
}
.category_product_listing_inner .embla__viewport {
  overflow: hidden;
}
.category_product_listing_inner .embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.category_product_listing_inner .embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.category_product_listing_inner .embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}
.category_product_listing_inner .embla__buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.category_product_listing_inner .embla__button {
  box-shadow: none;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  width: 45px;
  height: 45px;
  background-color: #f3971b;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.category_product_listing_inner .embla__button:disabled {
  color: var(--detail-high-contrast);
}
.product_purchase_info_content .qr_code_scan_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
footer.footer_section {
  background-color: #232f3e;
  padding-top: 60px;
}
.footer_section .fooer_logo_section img {
  width: 170px;
}
.footer_section .short_overview p {
  color: #fff;
}
.footer_section .short_overview {
  margin-top: 25px;
}
.footer_section .footer_link_title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.footer_section .footer_navigations {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer_section .footer_navigations .item_link a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
}
.get_in_touch .footer_subscribe .form-control {
  height: 55px;
  border-radius: 10px !important;
  border: 0;
  user-select: none;
}
.get_in_touch .footer_subscribe .form-control:focus {
  border-radius: 10px !important;
}
.footer_subscribe .subscription_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 35px;
}
.footer_section .copy_right_section .copy_right_inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_section .copy_right_section p {
  color: #fff;
  margin: 0;
}
.footer_section .copy_right_section {
  border-top: 1px solid #616161;
  margin-top: 40px;
  padding: 20px 0;
}
.custom_buttom .custom_button_inner:disabled {
  cursor: not-allowed;
}
.get_in_touch .social_icons li a img {
  width: 30px;
}
.get_in_touch .social_icons ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.admin_panel_body .container {
  max-width: 100% !important;
  padding: 0;
}
.admin_panel_body .sidebar_layout {
  background-color: #66707f;
  padding: 0 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  overflow-y: auto;
  z-index: 1000;
  scrollbar-width: none;
}
.admin_panel_body .sidebar_layout::-webkit-scrollbar {
  width: 0;
}
.user_navigation_body .navigation_links a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
  line-height: 1;
  font-size: 17px;
  width: fit-content;
}
.admin_panel_body .sidebar_layout .user_navigation_body {
  margin-top: 30px;
  padding: 0 10px;
}
.admin_panel_body .sidebar_layout .user_navigation_body .navigation_links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.spinner {
  width: 6px;
  height: 6px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 50%;
  box-shadow: 16px 0px 0 0 #ffffff, 9.6px 12px 0 0 #ffffff,
    -3.2px 15.2px 0 0 #ffffff, -12.8px 6.4px 0 0 #ffffff,
    -12.8px -6.4px 0 0 #ffffff, -3.2px -15.2px 0 0 #ffffff,
    9.6px -12px 0 0 #ffffff;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}

.header_top .header_right_section .logout_panel {
  border: 0;
  width: 40px;
  height: 40px;
  font-size: 13px;
  padding: 0;
  border-radius: 10px;
  background-color: #f3971b;
  color: #fff;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panel_header .title_panel .title {
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
.panel_header .action_button {
  background-color: #f3971b;
  border: 0;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 50px;
}
.panel_content_layout .panel_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.admin_panel_body .panel_content_layout {
  margin-right: 20px;
  margin-bottom: 50px;
}
.authentication_switch .change_auth_type {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
.authentication_switch .change_auth_type .custom_button_inner {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #232f3e;
  color: #232f3e;
  transition: 0.3s;
}
.custom_data_table .table .data_table_head tr th {
  background-color: #66707f;
  color: #fff;
}
.authentication_switch .change_auth_type .custom_button_inner.selected {
  background-color: #232f3e;
  color: #fff;
}
.itemzfinder_content_body .authentication_switch {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authentication_switch .custom_button_inner {
  text-transform: uppercase;
}
.panel_middle_content {
  margin-top: 45px;
}
.use_navigation_wrapper .header_content img {
  width: 65px;
  border-radius: 50px;
}
.use_navigation_wrapper .header_content .user_detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  align-items: center;
}
.use_navigation_wrapper .header_content .user_detail p {
  margin: 0;
  color: #fff;
  line-height: 1;
}
.use_navigation_wrapper .header_content {
  background-color: #232f3e;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.use_navigation_wrapper .header_content .user_detail .react-loading-skeleton {
  --base-color: #232f3eba;
}
.use_navigation_wrapper .header_content .user_detail > span {
  height: 15px;
}

.admin_panel_body
  .sidebar_layout
  .user_navigation_body
  .navigation_links
  .navigation_links_grid {
  padding: 10px 20px;
  border-radius: 10px;
}

.panel_middle_content .navigation_menu_list .nav_menu {
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: #c6d3e7;
  border-radius: 5px;
  width: 100%;
  position: relative;
}
.panel_middle_content .navigation_menu_list .nav_menu .nav_menu_inner {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.panel_middle_content .navigation_menu_list .nav_menu .menu_category {
  font-size: 13px !important;
  opacity: 0.8;
}
.panel_middle_content .navigation_menu_list .nav_menu .menu_name {
  margin: 0;
  font-size: 16px;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
}
.panel_middle_content .navigation_menu_list_wrapper .action {
  cursor: pointer;
  height: fit-content;
}
.panel_middle_content .navigation_menu_list .nav_menu .menu_action {
  display: flex;
  align-items: center;
  gap: 15px;
}
.panel_middle_content .navigation_menu_list_wrapper .navigation_menu_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}
.panel_middle_content .navigation_menu_list_wrapper {
  margin-top: 30px;
  margin-left: 20px;
  overflow-y: scroll;
  min-height: auto;
  max-height: 365px;
}
.panel_middle_content .navigation_menu_list_wrapper::-webkit-scrollbar {
  width: 4px;
}
.panel_middle_content .navigation_menu_list_wrapper::-webkit-scrollbar-thumb {
  background: #959191;
  border-radius: 10px;
}
.navigation_menu_list_wrapper .empty_list_placeholder img {
  width: 370px;
}
.data_table .custom_data_table {
  margin-top: 30px;
}
.custom_data_table .data_table_crud_action .action {
  border: 0;
  background-color: #f3971b;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  min-width: 50px;
}
.custom_data_table .data_table_crud_action {
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
.custom_data_table .data_table_pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data_table_pagination .pagination_move_button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.custom_data_table .data_table_pagination .pagination_btn {
  border: 0;
  background-color: #66707f;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
.custom_data_table .data_table_pagination .pagination_btn.disabled {
  opacity: 0.6;
}
.data_table_pagination .table_pagination_count p {
  font-size: 13px;
  margin: 0;
  color: #fff;
  line-height: normal;
}
.data_table_pagination .table_pagination_count {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #00000080;
  padding: 0 15px;
  border-radius: 5px;
}
.content_middle_body .admin_panel_body .row {
  min-height: 100vh;
}

.page_loader {
  width: 70px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #66707f #0000;
  animation: l16 1s infinite linear;
}
.page_loader::before,
.page_loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}
.page_loader::before {
  border-color: #f3971b #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}
.page_loader::after {
  margin: 8px;
}
@keyframes l16 {
  100% {
    transform: rotate(1turn);
  }
}

.page_loader_main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 170px;
}
.modal-footer .modal_footer_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.modal-footer .modal_footer_buttons .custom_button_inner {
  height: 45px;
}
.record_not_found .record_not_found_content p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  margin: 0;
  line-height: 1;
}

.record_not_found {
  background-color: #e5f8fb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 50px 50px;
  width: 450px;
  margin: 100px auto 0 auto;
  border-radius: 20px;
  user-select: none;
}
.record_not_found .record_not_found_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.custom_dropdown .dropdown .value p {
  margin: 0;
}
.custom_dropdown .dropdown .value {
  height: 50px;
  border: 1px solid #000;
  padding: 0 12px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}
.custom_dropdown {
  position: relative;
  margin-bottom: 30px;
}
.custom_dropdown .dropdown ul {
  margin: 0;
  border-radius: 5px;
  overflow-y: scroll;
  min-height: auto;
  max-height: 210px;
}
.custom_dropdown .dropdown ul::-webkit-scrollbar-thumb {
  background: #959191;
  border-radius: 10px;
}
.custom_dropdown .dropdown ul::-webkit-scrollbar {
  width: 4px;
}
.search_input_dropdown input {
  font-size: 13px;
  height: 40px;
  border: 1px solid #bbb6b6;
  padding: 0 12px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1000px #fff !important;
  width: 100%;
  border-top: 0;
}
.search_input_dropdown input:focus {
  outline: 0;
}
.custom_dropdown .dropdown .dropdown_main {
  background-color: #f1f1f1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: absolute;
  width: 100%;
  z-index: 999;
}
.custom_dropdown .dropdown ul li {
  padding: 5px 15px;
  border-bottom: 1px solid #979595;
  user-select: none;
  cursor: pointer;
  transition: all 0.5s;
}
.custom_dropdown .dropdown ul li:last-child {
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.custom_dropdown .dropdown ul li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.custom_dropdown .dropdown ul li:hover {
  background-color: #a2e0f3;
}
.header_bottom .react-loading-skeleton {
  --base-color: #232f3eba;
}
.header_warpper .header_bottom .header_bottom_innner {
  position: relative;
  height: 55px;
}
.header_bottom_innner .navigation_items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header_bottom_innner .container {
  height: 100%;
}
.header_warpper .header_bottom .header_bottom_innner .muenu_bar_drawar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  user-select: none;
  cursor: pointer;
}
.category_menu_drawer {
  width: 350px !important;
}
.category_menu_drawer_content .drawer_header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #232f3e;
  margin-bottom: 20px;
}
.category_menu_drawer_content .drawer_header p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 1.5px;
}
.category_menu_drawer_content .drawer_header .close {
  user-select: none;
  cursor: pointer;
}
.category_menu_drawer_content .search_collection {
  padding: 0 20px;
}
.category_menu_drawer_content .collection_list_inner ul {
  display: flex;
  flex-direction: column;
}
.category_menu_drawer_content .collection_list_inner ul li a {
  color: #000;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.category_menu_drawer_content .collection_list_inner ul li {
  padding: 0 20px;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #b9b6b6;
}
.category_menu_drawer_content .collection_list_inner ul li:hover {
  background-color: #e5e5e5;
  padding: 10px 20px;
  cursor: pointer;
}
.category_menu_drawer_content .collection_list_inner ul li:last-child {
  border: 0;
}
.react-international-phone-input-container.input_phone_international {
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
}
.input_phone_international .react-international-phone-country-selector button {
  height: 100%;
  border: 0;
  border-right: 1px solid #000;
  border-bottom-left-radius: 10px !important;
  border-top-left-radius: 10px !important;
}
.input_phone_international .react-international-phone-input {
  height: 100% !important;
  width: 100%;
  border: 0 !important;
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}
.contact_us_Page .input-form-group {
  margin-bottom: 40px;
}
.contact_us_Page .input-form-group textarea.form-control,
.add_new_product textarea.form-control {
  height: unset;
}

.contact_us_Page {
  margin: 0 0 80px 0;
}
.head_inner_page_wrapper {
  padding: 140px 0 85px;
  background-image: url(/assets/images/inner-bnr-bg.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
}
.head_inner_page_wrapper .title {
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  letter-spacing: 0.8px;
}
.category_menu_drawer_content {
  height: 100%;
}
.category_menu_drawer_content .collection_list {
  overflow: auto;
  height: 100%;
  padding-bottom: 140px;
}
.category_menu_drawer_content .collection_list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
.category_menu_drawer_content .collection_list::-webkit-scrollbar-thumb {
  background: #f3971b;
  border-radius: 5px;
}
.category_menu_drawer_content .collection_list::-webkit-scrollbar {
  width: 10px;
}
.contact_us_Page .form_header_content {
  margin-bottom: 25px;
}
.contact_us_Page .form_header_content p {
  margin: 0;
}
.contact_us_Page .form_header_content .title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact_us_Page .form_header_content .description {
  font-size: 18px;
  color: #505050;
  margin: 0;
}
.contact_us_Page .contact_us_image {
  height: 490px;
}
.contact_us_Page .contact_us_image img {
  height: 100%;
  width: 550px;
  object-fit: contain;
}
.contact_us_Page .contact_us_image_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.contact_us_Page form .custom_buttom {
  width: 155px;
}
.add_more_fields {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #66707f;
  color: #fff;
  line-height: normal;
  padding: 11px 20px;
  width: fit-content;
  border-radius: 10px;
  user-select: none;
  cursor: pointer;
}
.add_product_specification .specification.row {
  min-height: fit-content;
}
.add_product_specification .specification {
  display: flex;
  align-items: center;
  gap: 20px;
}
.add_product_specification .specification .input-form-group {
  width: 100%;
}
.add_product_specification .specification .delete_specification {
  height: fit-content;
  cursor: pointer;
  user-select: none;
}
.add_new_product {
  margin-bottom: 40px;
}
.add_new_product_content .add_about_items {
  margin-top: 35px;
}
.add_new_product_content .more_item_title {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.add_about_items .about_item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.add_about_items .about_item .input-form-group {
  width: 100%;
}
.add_about_items .about_item .delete_about_item {
  height: fit-content;
  cursor: pointer;
  user-select: none;
}
.add_tags_section .tags_output .tag-item {
  background-color: #d7d7d7;
  width: fit-content;
  font-size: 13px;
  padding: 5px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.add_tags_section .tags_output {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: #f5f5f5;
  padding: 12px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.add_tags_section .tags_input {
  margin-bottom: 30px;
}
.add_tags_section .tags_input .input-form-group {
  margin-bottom: 15px;
}
.add_tags_section .tags_output .tag-item .remove-tag {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.product_side_section {
  height: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px 20px 0 20px;
}
.product_image_upload .info {
  margin: 0;
}
.product_feature_images .product_image_upload {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  border: 1px dashed;
  margin: 0 0 20px 0;
  padding: 30px 0;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}
.product_feature_images .feature_image_preview {
  height: 105px;
  width: 105px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid;
  border-radius: 10px;
  position: relative;
}
.category_feature_images_section
  .product_feature_images
  .feature_image_preview {
  height: 165px;
  width: 100%;
}
.category_feature_images_section
  .feature_image_wrapper
  .feature_image
  .remove_feature_image {
  transform: unset;
  top: 15px;
  right: 20px;
  left: unset;
}
.category_feature_images_section .feature_image_wrapper .feature_image {
  width: 100%;
}
.product_feature_images .feature_image_wrapper {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.feature_image_wrapper .feature_image {
  position: relative;
}
.feature_image_wrapper .feature_image .remove_feature_image {
  width: fit-content;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product_feature_images .feature_image_preview:after {
  content: "";
  background-color: #000000b5;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.product_side_section .product_feature_images .feature_image_wrapper {
  margin-bottom: 35px;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}
.product_side_section .add_new_product_btn {
  display: flex;
  justify-content: flex-end;
}
.product_side_section .add_new_product_btn .custom_buttom {
  width: 230px;
}

input,
textarea {
  font-size: 16px !important;
}

.react-international-phone-country-selector-dropdown:focus-visible {
  outline: 0;
}
.content_middle_body .admin_panel_body .row .col-lg-3 {
  flex: 0 0 auto;
  width: 22%;
  position: relative;
}
.content_middle_body .admin_panel_body .row .col-lg-9 {
  flex: 0 0 auto;
  width: 78%;
}
.data_table_body .image_url_td {
  width: 135px;
}
.product_data_table tr td,
.category_data_table tr td {
  vertical-align: middle;
}
.data_table_body .image_url_td .feature_image_url {
  width: 85px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.welcome_banner_itemzfinder .banner {
  height: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.panel_content_layout .dashboard_content_wrapper {
  margin-top: 25px;
}
.overview_box_grid .overview_box_content {
  height: 200px;
  background-color: #b1bec6;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  background-image: url(/assets/images/score-range.svg);
  background-repeat: no-repeat;
  background-position: right 0 bottom 15px;
  background-size: 170px 115px;
}
.overview_box_grid .overview_box_content .title {
  margin-bottom: 0;
  text-transform: capitalize;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}
.panel_content_layout .dashboard_content_wrapper .overview_box_grid_wrapper {
  margin-top: 50px;
}
.content_middle_body .admin_panel_body .overview_box_grid_wrapper .row {
  min-height: unset;
}
.content_middle_body
  .admin_panel_body
  .overview_box_grid_wrapper
  .row
  .col-lg-4 {
  margin-bottom: 25px;
}
.overview_box_grid .overview_box_content .status_detail .count {
  margin-bottom: 0;
  font-size: 25px;
  width: fit-content;
  color: #fff;
  font-family: cursive;
}
.overview_box_grid .overview_box_content .status_detail .count_main {
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid transparent; /* Set the border to transparent */
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    #f3971b,
    #232f3e
  ); /* Gradient background */
  background-clip: content-box; /* Ensure the gradient only applies to the border */
  padding: 4px; /* This creates space for the border to be visible */
}
.overview_box_grid .overview_box_content .status_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overview_box_grid .overview_box_content .status_detail .icon {
  width: 130px;
}
.overview_box_grid .overview_box_content .status_detail .icon img {
  width: 100%;
}
.panel_content_layout .dashboard_content_wrapper .activity_record_overview {
  text-align: center;
  margin-top: 50px;
}
.panel_content_layout .navigation_wrapper .row {
  min-height: unset;
}
.panel_middle_content .navigation_menu_list .nav_menu .category_type_nav p {
  margin: 0;
  font-size: 12px;
  color: #f3971b;
}
.panel_middle_content .navigation_menu_list .nav_menu .category_type_nav {
  border: 1px solid #f3971b;
  padding: 3px 7px 3px 7px;
  border-radius: 5px;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* responsive start */
@media screen and (max-width: 767px) and (min-width: 200px) {
}

@media screen and (max-width: 1600px) and (min-width: 1366px) {
  .container {
    max-width: 1280px !important;
  }
}
